<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id.co.databiz.sas.callout"
         name="SAS Callouts"
         point="org.adempiere.base.IColumnCallout">
      <callout
            class="id.co.databiz.sas.callout.CalloutRMALineProduct"
            columnName="M_Product_ID"
            priority="50"
            tableName="M_RMALine">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutOrderLineProduct"
            columnName="M_Product_ID"
            priority="50"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutOrderBP"
            columnName="C_BPartner_ID"
            priority="50"
            tableName="C_Order">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutRequestInvoice"
            columnName="C_Invoice_ID"
            priority="50"
            tableName="R_Request">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutRequestShipment"
            columnName="M_InOut_ID"
            priority="50"
            tableName="R_Request">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutOrderLineQty"
            columnName="Qty"
            priority="50"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutInOutRMA"
            columnName="M_RMA_ID"
            priority="50"
            tableName="M_InOut">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutRequestKwitansi"
            columnName="Z_Kwitansi_ID"
            priority="50"
            tableName="R_Request">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutPaymentBankAccount"
            columnName="C_BankAccount_ID"
            priority="50"
            tableName="C_Payment">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutDiscountSchemaBreakDiscountList"
            columnName="SAS_DiscountList_ID"
            priority="50"
            tableName="M_DiscountSchemaBreak">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutOrderLineDiscountList"
            columnName="SAS_DiscountList_ID"
            priority="50"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutPaymentInvoice"
            columnName="C_Invoice_ID"
            priority="50"
            tableName="C_Payment">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutPaymentAllocateInvoice"
            columnName="C_Invoice_ID"
            priority="50"
            tableName="C_PaymentAllocate">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutInOutBP"
            columnName="C_BPartner_ID"
            priority="50"
            tableName="M_InOut">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutInOutBP"
            columnName="AD_OrgTrx_ID"
            priority="50"
            tableName="M_InOut">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutOrderLineDiscountList"
            columnName="PriceList"
            priority="50"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutOrderSetDeliveryRule"
            columnName="C_DocTypeTarget_ID"
            priority="50"
            tableName="C_Order">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutOrderSetDeliveryRule"
            columnName="C_BPartner_ID"
            priority="50"
            tableName="C_Order">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutOrderSetDeliveryRule"
            columnName="Bill_BPartner_ID"
            priority="50"
            tableName="C_Order">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutOrderSetDeliveryRule"
            columnName="M_Warehouse_ID"
            priority="50"
            tableName="C_Order">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutOrderLineDiscountList"
            columnName="QtyEntered"
            priority="50"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutSetSalesRep"
            columnName="C_BPartner_ID"
            priority="50"
            tableName="M_RMA">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutSetSalesRep"
            columnName="AD_OrgTrx_ID"
            priority="50"
            tableName="M_RMA">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutSetSalesRep"
            columnName="C_BPartner_ID"
            priority="50"
            tableName="C_Invoice">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutSetSalesRep"
            columnName="AD_OrgTrx_ID"
            priority="50"
            tableName="C_Invoice">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutOrderBPRule"
            columnName="C_BPartner_ID"
            priority="50"
            tableName="C_Order">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutOrderBPRule"
            columnName="AD_OrgTrx_ID"
            priority="50"
            tableName="C_Order">
      </callout>
      <callout
            class="id.co.databiz.sas.callout.CalloutRMAShipment"
            columnName="InOut_ID"
            priority="60"
            tableName="M_RMA">
      </callout>
   </extension>
   <extension
         id="org.compiere.process.CopyOrder"
         name="Copy Order"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.CopyOrder"
            priority="200">
      </process>
   </extension>
   <extension
         id="id.co.databiz.sas.process.ProcessDeliveryJournal"
         name="Process Delivery Journal"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.ProcessDeliveryJournal"
            priority="200">
      </process>
   </extension>
   <extension
         id="id.co.databiz.sas.process.AddInvoices"
         name="Add Invoices"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.AddInvoices"
            priority="200">
      </process>
   </extension>
   <extension
         id="id.co.databiz.sas.process.AddShipments"
         name="Add Shipments"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.AddShipments"
            priority="200">
      </process>
   </extension>
   <extension
         id="id.co.databiz.sas.process.UnprocessRequestBundle"
         name="Unprocess Request Bundle"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.UnprocessRequestBundle"
            priority="200">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.CopyFromMovement"
         name="Copy Lines from Movement"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.CopyFromMovement"
            priority="200">
      </process>
   </extension>
   <extension
         id="id.co.databiz.sas.process.DeliveryJournalArrival"
         name="Delivery Journal Arrival"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.DeliveryJournalArrival"
            priority="200">
      </process>
   </extension>
   <extension
         id="org.compiere.process.ExpenseAPInvoice"
         name="ExpenseAPInvoice"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.ExpenseAPInvoice"
            priority="200">
      </process>
   </extension>
   <extension
         id="id.co.databiz.sas.process.GeneratePromoNatura"
         name="GeneratePromoNatura"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.GeneratePromoNatura"
            priority="200">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.ReverseAllocation"
         name="Reverse Allocation"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.ReverseAllocation"
            priority="200">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.GeneratePaymentCash"
         name="Generate Payment Cash"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.GeneratePaymentCash"
            priority="200">
      </process>
   </extension>
   <extension
         id="id.co.databiz.sas.process.ValidatePrint"
         name="Validate Print"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.ValidatePrint"
            priority="200">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.VarianceDistribution"
         name="Variance Distribution"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.VarianceDistribution"
            priority="200">
      </process>
   </extension>
   <extension
         id="org.compiere.process.Aging"
         name="Aging"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.Aging"
            priority="200">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.AgingR"
         name="Aging by Date Received"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.AgingR"
            priority="200">
      </process>
   </extension>
   <extension
         id="org.adempiere.process.InvoiceGenerateRMA"
         name="Generate Invoice from RMA"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.InvoiceGenerateRMA"
            priority="200">
      </process>
   </extension>
   <extension
         id="id.co.databiz.sas.process.CreateOrderLines"
         name="Create Order Lines"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.CreateOrderLines"
            priority="200">
      </process>
   </extension>
   <extension
         id="org.compiere.process.InvoiceGenerate"
         name="Generate Invoice Manual"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.InvoiceGenerate"
            priority="200">
      </process>
   </extension>
   <extension
         id="org.adempiere.process.RMACreateOrder"
         name="SAS-238"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.sas.process.RMACreateOrder"
            priority="200">
      </process>
   </extension>

</plugin>
