<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id.co.databiz.awn.callout"
         name="AWN Callouts"
         point="org.adempiere.base.IColumnCallout">
      <callout
            class="id.co.databiz.awn.callout.CalloutInOutLineOrderLine"
            columnName="C_OrderLine_ID"
            priority="100"
            tableName="M_InOutLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutInOutOrder"
            columnName="C_Order_ID"
            priority="100"
            tableName="M_InOut">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutInvoiceOrder"
            columnName="C_Order_ID"
            priority="100"
            tableName="C_Invoice">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutInvoiceLineOrderLine"
            columnName="C_OrderLine_ID"
            priority="100"
            tableName="C_InvoiceLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutOrderLineProduct"
            columnName="M_Product_ID"
            priority="100"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutPaymentBankAccount"
            columnName="C_BankAccount_ID"
            priority="100"
            tableName="C_Payment">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutPaymentAllocateCharge"
            columnName="C_Charge_ID"
            priority="100"
            tableName="C_PaymentAllocate">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutBankStatementLinePayment"
            columnName="C_Payment_ID"
            priority="100"
            tableName="C_BankStatementLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutInvoiceDocType"
            columnName="C_DocTypeTarget_ID"
            priority="100"
            tableName="C_Invoice">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutInOutDocType"
            columnName="C_DocType_ID"
            priority="100"
            tableName="M_InOut">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutInOutRMA"
            columnName="M_RMA_ID"
            priority="100"
            tableName="M_InOut">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutBPBankAccountBankAccount"
            columnName="C_BankAccount_ID"
            priority="100"
            tableName="C_BP_BankAccount">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutUOMConvert"
            columnName="QtyEntered"
            priority="100"
            tableName="M_RequisitionLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutUOMConvert"
            columnName="C_UOM_ID"
            priority="100"
            tableName="M_RequisitionLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutUOMConvert"
            columnName="QtyEntered"
            priority="100"
            tableName="M_InventoryLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutUOMConvert"
            columnName="C_UOM_ID"
            priority="100"
            tableName="M_InventoryLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutUOMConvert"
            columnName="QtyEntered"
            priority="100"
            tableName="M_MovementLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutUOMConvert"
            columnName="C_UOM_ID"
            priority="100"
            tableName="M_MovementLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutRequisitionLineProduct"
            columnName="M_Product_ID"
            priority="100"
            tableName="M_RequisitionLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutInventoryLineProduct"
            columnName="M_Product_ID"
            priority="100"
            tableName="M_InventoryLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutMovementLineProduct"
            columnName="M_Product_ID"
            priority="100"
            tableName="M_MovementLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutScheduleOrderLine"
            columnName="C_OrderLine_ID"
            priority="100"
            tableName="Z_ScheduleLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutScheduleQty"
            columnName="C_OrderLine_ID"
            priority="100"
            tableName="Z_ScheduleLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutScheduleQty"
            columnName="QtyEntered"
            priority="100"
            tableName="Z_ScheduleLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutScheduleQty"
            columnName="C_UOM_ID"
            priority="100"
            tableName="Z_ScheduleLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutScheduleQty"
            columnName="M_Product_ID"
            priority="100"
            tableName="Z_ScheduleLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutInOutLineScheduleLine"
            columnName="Z_ScheduleLine_ID"
            priority="100"
            tableName="M_InOutLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutPaymentBPBankAccount"
            columnName="C_BP_BankAccount_ID"
            priority="100"
            tableName="C_Payment">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutInOutQty"
            columnName="C_UOM_ID"
            priority="100"
            tableName="M_InOutLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutInOutQty"
            columnName="QtyEntered"
            priority="100"
            tableName="M_InOutLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutInOutQty"
            columnName="MovementQty"
            priority="100"
            tableName="M_InOutLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutMovementQty"
            columnName="MovementQty"
            priority="100"
            tableName="M_MovementLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutOrderProduct"
            columnName="M_Product_ID"
            priority="100"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutOrderTax"
            columnName="C_BPartner_Location_ID"
            priority="100"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutOrderAmt"
            columnName="PriceList"
            priority="100"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutOrderAmt"
            columnName="QtyEntered"
            priority="100"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutOrderAmt"
            columnName="QtyOrdered"
            priority="100"
            tableName="C_OrderLine">
      </callout>
      
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutOrderAmt"
            columnName="PriceEntered"
            priority="100"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutOrderAmt"
            columnName="Discount"
            priority="100"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutOrderAmt"
            columnName="S_ResourceAssignment_ID"
            priority="100"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutOrderAmt"
            columnName="PriceActual"
            priority="100"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutOrderAmt"
            columnName="C_UOM_ID"
            priority="100"
            tableName="C_OrderLine">
      </callout>
      
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutOrderQty"
            columnName="QtyEntered"
            priority="100"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutOrderQty"
            columnName="QtyOrdered"
            priority="100"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutOrderQty"
            columnName="M_AttributeSetInstance_ID"
            priority="100"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutOrderQty"
            columnName="S_ResourceAssignment_ID"
            priority="100"
            tableName="C_OrderLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutOrderQty"
            columnName="C_UOM_ID"
            priority="100"
            tableName="C_OrderLine">
      </callout>
      
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutInvoiceProduct"
            columnName="M_Product_ID"
            priority="100"
            tableName="C_InvoiceLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutInvoiceAmt"
            columnName="PriceActual"
            priority="100"
            tableName="C_InvoiceLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutInvoiceAmt"
            columnName="C_Tax_ID"
            priority="100"
            tableName="C_InvoiceLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutInvoiceAmt"
            columnName="C_UOM_ID"
            priority="100"
            tableName="C_InvoiceLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutInvoiceAmt"
            columnName="QtyInvoiced"
            priority="100"
            tableName="C_InvoiceLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutInvoiceAmt"
            columnName="TaxAmt"
            priority="100"
            tableName="C_InvoiceLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutInvoiceAmt"
            columnName="PriceEntered"
            priority="100"
            tableName="C_InvoiceLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutInvoiceAmt"
            columnName="QtyEntered"
            priority="100"
            tableName="C_InvoiceLine">
      </callout>
      
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutInvoiceQty"
            columnName="C_UOM_ID"
            priority="100"
            tableName="C_InvoiceLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutInvoiceQty"
            columnName="QtyInvoiced"
            priority="100"
            tableName="C_InvoiceLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.DefaultCalloutInvoiceQty"
            columnName="QtyEntered"
            priority="100"
            tableName="C_InvoiceLine">
      </callout>
      <callout
            class="id.co.databiz.awn.callout.CalloutPaymentDocType"
            columnName="C_DocType_ID"
            priority="100"
            tableName="C_Payment">
      </callout>
   </extension>
   <extension
         id="id.co.databiz.awn.process.UnlinkTaxInvoice"
         name="Unlink Tax Invoice"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.UnlinkTaxInvoice">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.InOutGenInv"
         name="InOutGenInv"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.InOutGenInv">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.InOutReturnGenInv"
         name="InOutReturnGenInv"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.InOutReturnGenInv">
      </process>
   </extension>
   <extension
         id="org.compiere.process.ExpenseAPInvoice"
         name="ExpenseAPInvoice"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.ExpenseAPInvoice">
      </process>
   </extension>
   <extension
         id="org.compiere.process.RequisitionPOCreate"
         name="RequisitionPOCreate"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.RequisitionPOCreate">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.ResetEmailAccess"
         name="Reset Email Access"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.ResetEmailAccess">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.BackupDB"
         name="Backup DB"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.BackupDB">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.UpdateConversionRateDescription"
         name="Update Conversion Rate Description"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.UpdateConversionRateDescription">
      </process>
   </extension>
   <extension
         id="org.compiere.process.OrderLineCreateProduction"
         name="OrderLineCreateProduction"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.OrderLineCreateProduction">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.GenerateTaxInvoice"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.GenerateTaxInvoice">
      </process>
   </extension>
   <extension
         id="org.compiere.process.InOutGenerate"
         name="GenerateShipments"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.InOutGenerate">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.VarianceDistribution"
         name="Variance Distrbution"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.VarianceDistribution">
      </process>
   </extension>
   <extension
         id="org.compiere.process.Aging"
         name="Aging"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.Aging"
            priority="100">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.RecalculateTaxInvoice"
         name="Recalculate Tax Invoice"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.RecalculateTaxInvoice"
            priority="100">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.AddProductPrice"
         name="Add Product Price"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.AddProductPrice"
            priority="100">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.CloseOrder"
         name="Close Order"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.CloseOrder"
            priority="100">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.AgingR"
         name="Aging by Date Received"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.AgingR"
            priority="100">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.CopyFromWFScenario"
         name="Copy Lines from WF Scenario"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.CopyFromWFScenario"
            priority="100">
      </process>
   </extension>
   <extension
         id="org.evolution.process.BankTransfer"
         name="Bank Transfer"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.BankTransfer"
            priority="100">
      </process>
   </extension>
   <extension
         id="org.compiere.process.ImportGLJournal"
         name="Import GL Journal"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.ImportGLJournal"
            priority="100">
      </process>
   </extension>
   <extension
         id="org.compiere.process.InvoiceNGL"
         name="Invoice Not Realized Gain Loss"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.InvoiceNGL"
            priority="100">
      </process>
   </extension>
   <extension
         id="org.compiere.process.InventoryCountCreate"
         name="InventoryCountCreate"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.InventoryCountCreate"
            priority="100">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.MovementGenerate"
         name="Generate Inventory Move"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.MovementGenerate"
            priority="100">
      </process>
   </extension>
   <extension
         id="org.compiere.process.ProductionProcess"
         name="Production Process"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.ProductionProcess"
            priority="50">
      </process>
   </extension>
   <extension
         id="org.compiere.process.InOutCreateInvoice"
         name="Generate Invoice From Receipt"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.InOutCreateInvoice"
            priority="100">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.Allocate"
         name="Allocate"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.Allocate"
            priority="100">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.CopyFromExpenseReport"
         name="Copy Lines from Expense Report"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.CopyFromExpenseReport"
            priority="100">
      </process>
   </extension>
   <extension
         id="org.compiere.process.CopyOrder"
         name="Copy Order"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.CopyOrder"
            priority="100">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.CopyFromMovement"
         name="Copy Lines from Movement"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.CopyFromMovement"
            priority="100">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.GeneratePaymentCash"
         name="Generate Payment Cash"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.GeneratePaymentCash"
            priority="100">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.GeneratePaymentSelection"
         name="Generate Payment Selection"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.GeneratePaymentSelection"
            priority="100">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.UnlinkKwitansi"
         name="Unlink Kwitansi"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.UnlinkKwitansi">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.ReverseAllocation"
         name="Reverse Allocation"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.ReverseAllocation"
            priority="100">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.ISYSendMailText"
         name="Send Mail Text"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.ISYSendMailText"
            priority="100">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.StorageCorrection"
         name="Storage Correction"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.StorageCorrection"
            priority="100">
      </process>
   </extension>
   <extension
         id="org.compiere.process.AllocationReset"
         name="Reset Allocation"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.AllocationReset"
            priority="100">
      </process>
   </extension>
   <extension
         id="id.co.databiz.awn.process.DocumentOpen"
         name="ReOpen Document"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.DocumentOpen"
            priority="100">
      </process>
   </extension>
   <extension
         id="org.eevolution.process.HRCreatePeriods"
         name="HR Create Periods"
         point="org.adempiere.base.Process">
      <process
            class="id.co.databiz.awn.process.HRCreatePeriods"
            priority="100">
      </process>
   </extension>

</plugin>
